---
---

@import "minima";


#home-merit-logo {
  background-color:$logo;
  padding: 30px 0px 0px 0px;
  box-shadow: 0px 10px 30px 0px rgba($logo, 0.8);
  
}

#home-merit-logo img {
  height: 80%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

