---
layout: default
---

{%- include head.html -%}

<div id="merit-logo">
  <div style="text-align: center;">
    <div class="wrapper">
      <img src="{{site.images_path | relative_url}}MeritLogo.png" alt="MeRIT" width="200" height="200"> 
    </div>
  </div>
</div>

<div style="text-align: center;">
  <div class="package-text">
    <h2>Welcome to MeRIT (Method Reporting with Initials for Transparency)</h2>
    <br>
  </div>
</div>

<div style="text-align: center;">
  <div class="package-text">
    <h3>Now published in <a href="https://doi.org/10.1038/s41467-023-37039-1">Nature Communications</a></h3>
    <div style="display: flex; justify-content: center;">
      <span class="altmetric-embed" data-badge-type="donut" data-doi="10.1038/s41467-023-37039-1"></span> 
      <span class="__dimensions_badge_embed__" data-doi="10.1038/s41467-023-37039-1" data-style="small_circle"></span>
    </div>
  </div>
<div style="border:1px solid #000; padding:10px; margin:10px; font-family: Arial, sans-serif; text-align: left;">
    <br>
  <h3>List of papers that use the MeRIT system:</h3>
<ol> 
  
  <li>
    <p><a href="hhttps://doi.org/10.1371/journal.pbio.3002423">  Nakagawa, S., Lagisz, M., Yang, Y., & Drobniak, S. M. (2024). Finding the right power balance: Better study design and collaboration can reduce dependence on statistical power. Plos Biology.</p>
  </li>                                                                                                                                                                                                                                                                                                                    
  
  <li>
    <p><a href="https://doi.org/10.1093/evolut/qpad229">  Macartney, E. L., Morrison, K., Snook, R. R., Lagisz, M., & Nakagawa, S. (2023). Intra-specific correlations between ejaculate traits and competitive fertilization success: A meta-analysis across species and fertilization modes. Evolution.</p>
  </li>

  <li>
    <p><a href="https://doi.org/10.7554/elife.89736">Kohrs, F. E., Auer, S., Bannach-Brown, A., Fiedler, S., Haven, T. L., Heise, V., ... & Weissgerber, T. L. (2023). Eleven strategies for making reproducible research and open science training the norm at research institutions. eLife</p>
  </li>

  <li>
    <p><a href="https://doi.org/10.1038/s41598-023-47552-4">Stransky, N., Ganser, K., Quintanilla-Martinez, L., Gonzalez-Menendez, I., Naumann, U., Eckert, F., ... & Ruth, P. (2023). Efficacy of combined tumor irradiation and KCa3. 1-targeting with TRAM-34 in a syngeneic glioma mouse model. Scientific Reports.</p>
  </li>

   <li>
    <p><a href="https://doi.org/10.1371/journal.pone.0291552">Geis, L., d’Errico, F., Jordan, F. M., Brenet, M., & Queffelec, A. (2023). Multiproxy analysis of Upper Palaeolithic lustrous gravels supports their anthropogenic use. Plos One.</p>
  </li>

    <li>
    <p><a href="https://doi.org/10.1002/2688-8319.12287">Burke, S., Pottier, P., Macartney, E. L., Drobniak, S. M., Lagisz, M., Ainsworth, T., & Nakagawa, S. (2023). Mapping literature reviews on coral health: A review map, critical appraisal and bibliometric analysis. Ecological Solutions and Evidence.</p>
  </li>
  
    <li>
    <p><a href="https://doi.org/10.1146/annurev-marine-041723-094741">Fredston, A. L., & Lowndes, J. S. S. (2023). Welcoming more participation in open data science for the oceans. Annual Review of Marine Science.</p>
  </li>

    <li>
    <p><a href="https://doi.org/10.1371/journal.pbio.3002364">Kiermer, V. (2023). Authorship practices must evolve to support collaboration and open science. Plos Biology.</p>
  </li>

   <li>
    <p><a href= "https://doi.org/10.1101/2023.10.02.559861">Pottier, P., Lagisz, M., Burke, S., Drobniak, S. M., Downing, P. A., Macartney, E. L., ... & Nakagawa, S. (2023). Keywords to success: a practical guide to maximise the visibility and impact of academic papers.</p>
  </li>

  <li>
    <p><a href= "https://doi.org/10.1111/jeb.14230">Ivimey‐Cook, E. R., Pick, J. L., Bairos‐Novak, K. R., Culina, A., Gould, E., Grainger, M., ... & Windecker, S. M. (2023). Implementing code review in the scientific workflow: Insights from ecology and evolutionary biology. Journal of Evolutionary Biology.</p>
  </li>
 
  <li>
     <p><a href="https://doi.org/10.1002/jrsm.1663">Ivimey‐Cook, E. R., Noble, D. W., Nakagawa, S., Lajeunesse, M. J., & Pick, J. L. (2023). Advice for improving the reproducibility of data extraction in meta‐analysis. Research Synthesis Methods.</p>
  </li>
  
  <li>
     <p><a href="https://doi.org/10.1016/j.biocon.2023.110214">Taggart, P. L., Taylor, P., Patel, K. K., & Noble, D. W. (2023). Baiting in conservation and pest management: A systematic review of its global applications in a changing world. Biological Conservation.</p>
  </li>
</ol>
</div>

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
