---
layout: default
---

{%- include head.html -%}

<div id="merit-logo">
  <div style="text-align: center;">
  <div class="wrapper">
    <img src="{{site.images_path | relative_url}}MeritLogo.png" alt="MeRIT"
      width="200" 
     height="200"> 
  </div>
</div>
  </div>
    
  <div style="text-align: center;">
    <div class="package-text">
      
      <h2>Welcome to MeRIT (Method Reporting with Initials for Transparency)</h2>
      <br>
      To see the MeRIT system in action, head over to the <a href="http://www.merit.help/Community_Examples.html">Examples page</a>.
      
    </div>
  </div>
    
  </div>
</div>
