---
layout: default
---

{%- include head.html -%}

<div id="merit-logo">
  <div style="text-align: center;">
    <div class="wrapper">
      <img src="{{site.images_path | relative_url}}MeritLogo.png" alt="MeRIT" width="200" height="200"> 
    </div>
  </div>
</div>

<div style="text-align: center;">
  <div class="package-text">
    <h2>Welcome to MeRIT (Method Reporting with Initials for Transparency)</h2>
    <br>
  </div>
</div>

<div style="text-align: center;">
  <div class="package-text">
    <h3>Now published in <a href="https://doi.org/10.1038/s41467-023-37039-1">Nature Communications</a></h3>
    <div style="display: flex; justify-content: center;">
      <span class="altmetric-embed" data-badge-type="donut" data-doi="10.1038/s41467-023-37039-1"></span> 
      <span class="__dimensions_badge_embed__" data-doi="10.1038/s41467-023-37039-1" data-style="small_circle"></span>
    </div>
  </div>
<div style="border:1px solid #000; padding:10px; margin:10px; font-family: Arial, sans-serif; text-align: left;">
    <br>
  <h3>List of papers that use the MeRIT system:</h3>
<ol> 

        <li>
    <p><a href="https://doi.org/10.1016/j.biocon.2024.110912">Foo, Y. Z., Noble, D. W., & Taggart, P. L. (2025).Effectiveness of toxic baiting for the control of canines and felines. Biological Conservation. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1371/journal.pone.0317403">Coté, L. E., Van Doren, S., Zamora, A. N., Jaramillo Salcido, J., Law, E. W., Munoz, G. O., ... & Baranger, A. M. (2025). "When I talk about it, my eyes light up!" Impacts of a national laboratory internship on community college student success. PLOS ONE. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1016/j.anbehav.2024.12.001">Sanders, J. I., Studd, E. K., Dantzer, B., Wishart, A. E., Gaidica, M., Ruckstuhl, K. E., ... & Martinig, A. R. (2025). Collar? I barely know her: The utility of accelerometry in measuring personality in situ for a free-ranging wild mammal. Animal Behaviour. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1080/08989621.2024.2405041">Lin, Z. (2024). Modernizing authorship criteria and transparency practices to facilitate open and equitable team science. Accountability in Research. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1007/s11625-024-01542-1">Dabard, C. H., Gohr, C., Weiss, F., von Wehrden, H., Neumann, F., Hordasevych, S., ... & Ferreira, A. F.  (2024). Biosphere Reserves as model regions for transdisciplinarity? A literature review. Sustainability Science. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1098/rspb.2024.1222">Pottier, P., Lagisz, M., Burke, S., Drobniak, S. M., Downing, P. A., Macartney, E. L., ... & Nakagawa, S. (2024). Title, abstract and keywords: a practical guide to maximize the visibility and impact of academic papers. Proceedings of the Royal Society B. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1016/j.tree.2024.07.004">Nakagawa, S., & Lagisz, M. (2024). Blindingly transparent – anonymity in an era of openness: a reply to Cardini. Trends in Ecology & Evolution. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1111/brv.13117">Pollo, P., Lagisz, M., Yang, Y., Culina, A., & Nakagawa, S. (2024). Synthesis of sexual selection: a systematic map of meta‐analyses with bibliometric analysis. Biological Reviews. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1016/j.envint.2024.108860">Ricolfi, L., Vendl, C., Bräunig, J., Taylor, M. D., Hesselson, D., Neely, G. G., ... & Nakagawa, S. (2024). A research synthesis of humans, animals, and environmental compartments exposed to PFAS: A systematic evidence map and bibliometric analysis of secondary literature. Environment International. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1101/2024.06.21.600059">Winder, L. A., Hogger Gadsby, J., Wellman, E., Pick, J. L., Simons, M. J., & Burke, T. (2024). Separating the genetic and environmental drivers of body temperature during the development of endothermy in an altricial bird. bioRxiv. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1111/arcm.12980">Leck, A., Bellot‐Gurlet, L., Carazzo, G., Gratuze, B., Langlade, J., Le Bourdonnec, F. X., ... & Queffelec, A. (2024). Obsidian in the Caribbean islands? Mysterious Ceramic Age glass artefacts in the Lesser Antilles. Archaeometry. </p>
  </li>      

        <li>
    <p><a href="https://doi.org/10.1016/j.chemosphere.2024.142346">Ricolfi, L., Taylor, M. D., Yang, Y., Lagisz, M., & Nakagawa, S. (2024). Maternal transfer of per- and polyfluoroalkyl substances (PFAS) in wild birds: A systematic review and meta-analysis. Chemosphere. </p>
  </li>      

      <li>
    <p><a href="https://doi.org/10.32942/X2Z022">Leiva, F. P., Verberk, W. C., Calosi, P., Rezende, E. L., & Mark, F. C. (2024). MetaR, a global database on metabolic rates of ectotherms. EcoEvoRxiv. </p>
  </li>      

    <li>
    <p><a href="https://doi.org/10.1016/j.envpol.2024.123630">Morrison, K., Yang, Y., Santana, M., Lagisz, M., & Nakagawa, S. (2024). A systematic evidence map and bibliometric analysis of the behavioural impacts of pesticide exposure on zebrafish. Environmental Pollution. </p>
  </li>      

    <li>
    <p><a href="https://doi.org/10.1111/ele.14387">Yang, Y., Liu, Q., Pan, C., Chen, J., Xu, B., Liu, K., ... & Nakagawa, S. (2024). Species sensitivities to artificial light at night: A phylogenetically controlled multilevel meta‐analysis on melatonin suppression. Ecology Letters. </p>
  </li>                                                                                                                                                                                                                                                                                                                    

  <li>
    <p><a href="https://doi.org/10.32942/X2T02T">Pottier, P., Kearney, M. R., Wu, N. C., Gunderson, A. R., Rej, J. E., Rivera-Villanueva, A. N., ... & Nakagawa, S. (2024). Vulnerability of amphibians to global warming. EcoEvoRxiv.</p>
  </li>    

    <li>
    <p><a href="https://doi.org/10.1101/2024.01.17.575695">Troisi, C. A., Vernouillet, A., Allaert, R., Knoch, S., Martel, A., Lens, L., & Verbruggen, F. (2024). Beyond a unitary construct: Dissecting stopping behaviour in two bird species. bioRxiv. </p>
  </li>  
  
  <li>
    <p><a href="https://doi.org/10.1371/journal.pbio.3002423"> Nakagawa, S., Lagisz, M., Yang, Y., & Drobniak, S. M. (2024). Finding the right power balance: Better study design and collaboration can reduce dependence on statistical power. Plos Biology.</p>
  </li>                                                                                                                                                                                                                                                                                                                    
  
  <li>
    <p><a href="https://doi.org/10.1093/evolut/qpad229"> Macartney, E. L., Morrison, K., Snook, R. R., Lagisz, M., & Nakagawa, S. (2023). Intra-specific correlations between ejaculate traits and competitive fertilization success: A meta-analysis across species and fertilization modes. Evolution.</p>
  </li>

  <li>
    <p><a href="https://doi.org/10.7554/elife.89736">Kohrs, F. E., Auer, S., Bannach-Brown, A., Fiedler, S., Haven, T. L., Heise, V., ... & Weissgerber, T. L. (2023). Eleven strategies for making reproducible research and open science training the norm at research institutions. eLife.</p>
  </li>

  <li>
    <p><a href="https://doi.org/10.1038/s41598-023-47552-4">Stransky, N., Ganser, K., Quintanilla-Martinez, L., Gonzalez-Menendez, I., Naumann, U., Eckert, F., ... & Ruth, P. (2023). Efficacy of combined tumor irradiation and KCa3. 1-targeting with TRAM-34 in a syngeneic glioma mouse model. Scientific Reports.</p>
  </li>

   <li>
    <p><a href="https://doi.org/10.1371/journal.pone.0291552">Geis, L., d’Errico, F., Jordan, F. M., Brenet, M., & Queffelec, A. (2023). Multiproxy analysis of Upper Palaeolithic lustrous gravels supports their anthropogenic use. Plos One.</p>
  </li>

    <li>
    <p><a href="https://doi.org/10.1002/2688-8319.12287">Burke, S., Pottier, P., Macartney, E. L., Drobniak, S. M., Lagisz, M., Ainsworth, T., & Nakagawa, S. (2023). Mapping literature reviews on coral health: A review map, critical appraisal and bibliometric analysis. Ecological Solutions and Evidence.</p>
  </li>
  
    <li>
    <p><a href="https://doi.org/10.1146/annurev-marine-041723-094741">Fredston, A. L., & Lowndes, J. S. S. (2023). Welcoming more participation in open data science for the oceans. Annual Review of Marine Science.</p>
  </li>

    <li>
    <p><a href="https://doi.org/10.1371/journal.pbio.3002364">Kiermer, V. (2023). Authorship practices must evolve to support collaboration and open science. Plos Biology.</p>
  </li>

   <li>
    <p><a href= "https://doi.org/10.1101/2023.10.02.559861">Pottier, P., Lagisz, M., Burke, S., Drobniak, S. M., Downing, P. A., Macartney, E. L., ... & Nakagawa, S. (2023). Keywords to success: a practical guide to maximise the visibility and impact of academic papers. bioRxiv. </p>
  </li>

  <li>
    <p><a href= "https://doi.org/10.1111/jeb.14230">Ivimey‐Cook, E. R., Pick, J. L., Bairos‐Novak, K. R., Culina, A., Gould, E., Grainger, M., ... & Windecker, S. M. (2023). Implementing code review in the scientific workflow: Insights from ecology and evolutionary biology. Journal of Evolutionary Biology.</p>
  </li>
 
  <li>
     <p><a href="https://doi.org/10.1002/jrsm.1663">Ivimey‐Cook, E. R., Noble, D. W., Nakagawa, S., Lajeunesse, M. J., & Pick, J. L. (2023). Advice for improving the reproducibility of data extraction in meta‐analysis. Research Synthesis Methods.</p>
  </li>
  
  <li>
     <p><a href="https://doi.org/10.1016/j.biocon.2023.110214">Taggart, P. L., Taylor, P., Patel, K. K., & Noble, D. W. (2023). Baiting in conservation and pest management: A systematic review of its global applications in a changing world. Biological Conservation.</p>
  </li>
</ol>
</div>

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
